/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@font-face
{
    font-family: japanese;
    font-stretch: ultra-expanded;
    src: url('../fonts/font.ttf');
} 

@font-face
{
    font-family: rouble;
    src: url('../fonts/rouble.ttf');
} 

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */

}

body {
    -webkit-touch-callout: none;				/* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;			 /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;				  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#000000;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
50% { opacity: 0.4; }
to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
50% { opacity: 0.4; }
to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

div.ui-collapsible-content.ui-body-c {
    overflow: hidden;
}

.menu-item {
    border-bottom: 1px solid black;
    overflow: hidden;
    padding-bottom: 15px;
}
.menu-item:last-child {
    border: 0;
}

.dish-image {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #fbfbfb;
    border: 1px solid #b8b8b8;
    float: left;
    margin-right: 10px;
}

.dish-text {
    padding: 10px;
}

.dish-text p {
    padding: 0;
    margin: 0;
}

.dish-actions {
    float: right;
    margin: 10px;
    display: block;
}

.dish-actions .price {
    text-align: center;
    font: bold 15px Helvetica;
}

/*.dish-actions .price:after {
        font-family: rouble;
        content: "p";
}*/

@media screen and (min-width: 0px) and (max-width: 480px) {
    .dish-image {
        float: none;
        display: inline-block;
    }
    .dish-actions {
        margin: 0 auto 10px auto;
        display: inline-block;

    }

    .dish-text {
        clear: both;
    }
}

@media screen and (max-width: 350px) {
    .dish-image {
        margin: auto;
        display: block;
    }
    .dish-actions {
        float: none;
        display: block;
    }
}